---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Astro ClaSSius Template">
  <main class="flex h-screen flex-col items-center overflow-hidden p-4">
    <div class="relative -z-10 w-screen">
      <div class="absolute -right-32 -top-8 h-96 w-96 rounded-full bg-violet-500 blur-[160px]">
      </div>
      <div class="absolute -top-24 right-12 h-96 w-96 rounded-full bg-pink-500 blur-[160px]"></div>
      <div class="absolute -top-48 right-48 h-96 w-96 rounded-full bg-orange-500 blur-[160px]">
      </div>
    </div>
    <Header />
    <Footer />
  </main>
</Layout>
