<footer class="text-neutral-300">
  <span>Created by </span>
  <a
    href="http://github.com/classiuz"
    class="font-medium hover:text-purple-400 hover:underline"
    target="_blank"
    rel="noopener noreferrer"
  >
    ClaSSius
  </a>
  <span> with</span>
  <button id="footer-button" class="-ml-0.5">❤️</button>
  <span class="-ml-1.5">.</span>
</footer>

<script>
  import { createConfetti } from '@/lib/utils'

  const button = document.getElementById('footer-button') as HTMLButtonElement

  button.addEventListener('click', () => {
    createConfetti()
  })
</script>
